:root {
  background-color: #e2e0e0;
}

.list-delete {
  margin-left: auto;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

.editor-container {
  background-color: #f8ecec;
  padding: 10px;

  .DraftEditor-root {
    border: 1px black solid;

    .DraftEditor-editorContainer {
      min-height: 150px;
    }
  }
}
