* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.App {
  padding: 50px;
  display: flex;
  flex-direction: row;
  height: 90vh;
  background-color: #c7c4c4;
}
.home {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.board {
  padding-left: 20px;

  width: 100%;
  height: 100%;
}

.list-container {
  display: flex;
  flex-direction: row;

  .list-main {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    .list-title {
      font-size: larger;
      font-weight: bold;
      cursor: pointer;
    }

    .list-delete {
      margin-left: auto;
    }
  }

  .list {
    background-color: #ebecf0;
    border-radius: 3px;
    width: 300px;
    padding: 10px;
    height: fit-content;
    margin: 0 8px 0 0;
    cursor: default;

    .create-task {
      opacity: 0.5;
      color: #3c3d3d;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }

    .task {
      margin-bottom: 10px;
      cursor: pointer;
      .done {
        text-decoration: line-through;
        opacity: 0.5;
      }
      .task-main-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        .task-status {
          margin-left: auto;
        }
      }
    }
  }

  .create-list {
    background-color: #3c3d3d;
    border-radius: 3px;
    padding-left: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 300px;
    min-width: 300px;
    align-items: center;
    cursor: pointer;
  }
}

.form-input {
  min-height: 80px;
  min-width: 272px;
  padding: 8px;
  textarea {
    border: none;
    width: 95%;
    resize: none;
    outline: none;
    overflow: hidden;
  }
}

.form-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  button {
    background-color: #5aac44;
    color: white;
  }
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 90%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  width: 100%;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
